 <%= turbo_frame_tag id="new_comment" do %>
  <%= form_with model: [board, list, card, Comment.new], class: "flex flex-col gap-4" do |form| %>
    <div>
      <%= form.text_area :content, placeholder: "Napisz komentarz...", class: "input w-full" %>
    </div>
    <div>
      <%= form.submit "Dodaj", class: "btn" %>
    </div>
  <% end %>
<% end %>