<div class="flex flex-col items-center justify-center gap-4 bg-neutral-600 p-4 rounded h-[200px]">
  <div>
    <label for="my_modal_7" class="btn btn-primary">Stwórz nową tablicę</label>
  </div>
</div>