<h1 class="text-2xl font-bold mb-6"><%= @board.title %></h1>
<div class="flex gap-4">
  <div 
    data-sortable-url-value="<%= update_position_board_list_path(@board, ':id') %>" 
    data-controller="sortable" 
    class="flex gap-4 items-start"
  >
    <%= render 'lists/lists', board: @board %>
  </div>
  <%= render 'lists/new_list_form', board: @board %>
</div>