<div class="flex flex-col gap-2"  id="list_<%= list.id %>_cards" data-controller="card-sortable"  data-card-sortable-url-value="<%= update_position_board_list_card_path(@board, list, ':id') %>"  >
  <% list.cards.order(:position).each do |card| %>
    <%= render 'cards/card', board: board, list: list, card: card %>
  <% end %>
</div>
